label.wavelength Comprimento de Onda [m]
label.appearance Aparência
label.title Radiação do Corpo Negro
label.energydensity Densidade de Energía  [J^{.}s/m^{3}]
label.lambdamax lambda máx
label.r R
label.g G
label.b B
label.t T=
label.autox Auto X
label.autoy Auto Y






