circuit   "Circuito"
time	  "Tempo"
time.sec  "Tempo (s)"
voltage	  "Voltagem"
voltage.v		"Voltagem (V)"
current			    "Corrente"
current.a			  "Corrente (A)"
current.rms.a		Corrente eficaz (A)"
current.rms		  "Corrente eficaz"
voltage.current	"Voltagem e Corrente"
frequency		    "Frequência"
frequency.hz		"Frequência (Hz)"
phase		        "Fase"
deg              "grau"
degree           "grau"
emf              "fem"
ohm		 "Ohm"
battery		 "Bateria"
battery.emf      "fem da Bateria ="
switch.on        "Acender"
switch.off       "Apagar"
load.resistor	 "Resistência"
load.power	 "Potência de carga"
legend.v        "V"
legend.vequ     "V="
legend.vtime    "V(t)"
legend.deltav   "delta V="
legend.i        "I"
legend.a        "A"
legend.r        "R"
legend.c        "C"
legend.vac      "Vac"
legend.vc       "Vc"
legend.vr       "Vr"
legend.vl       "Vl"
legend.select   "Seleciona um componente"
legend.novalue  "Valores não disponíveis"
legend.novoltage "Voltagem não disponível"
legend.voltmeter "Voltímetro: "
legend.ammeter "Amperímetro: "
legend.currentphase "Fase da Corrente="
legend.freq "f="
Voltmeter	"Voltímetro"
Ammeter		"Amperímetro"



