label.caption Doppler
label.classical Clássico
label.speed  Velocidade=
label.relativistic Relativista
label.time Tempo:
label.position Fonte x:
button.start Começar
button.stop Parar




